* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 70%;
    min-height: 200px;
    margin: 0 auto;
}

nav ul {}

nav ul li {}


.h1 {
    font-size: 58px;
}

.entrada {}

.texto {}

.siguiente {
    margin: 50px;
}

.pie {
    
}

.pie span {
    display: inline-block;
    width: 49%;
    line-height: 2;
}

/* Pagina de indices del blog */
.post{
    height: 300px;
    border: 1px solid blue;
}

/* Se puede poner cada borde de un grosor distinto de la siguiente manera
Npx Npx Npx Npx
Llendo en el sentido horario (Arriba, derecha, abajo, izquierda), se cambia la "N" por el numero que quiere, y luego "px" se puede cambiar por cualquier otra medida
*/

.fecha{
    font-size: 25;
    color: gray;
    line-height: 2;
}

.titulo_post{
    font-size: 27px;
}

.titulo_post a{
    color: black;
    text-decoration: none;
}

.titulo_post a:hover{
    text-decoration: underline;
}

.extracto{
    font-size: 20px;
    line-height: 1.5;
}

/* about */
.burro {
    background-image: url();
    height: 4000px;
    width: 4000px;
}

.esquinas {
    width: 400px;
    height: 400px;
    background-color: darkorange;
    border: 5px solid blue;
    border-radius: 20px;
    /* border-bottom-left-radius: 200px; para redondear una esquina */
    background-image: url();
    background-position: right;
    border-radius: 100px;
    corner-shape: scoop; /* Mete las curvas hacia dentro en vez de afuera */
        /* Nota: Esta en fase experimental actual 03/12/2025 */
        /* Funcionan en brave "scoop", "notch", "bevel" */
}

/* Lenguaje CSS */