*{
    margin: 0px;
    padding: 0px;
}

/* Estructura */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

/* Etiquetas */

/* Clases */
.exterior{
    border: 3px black dashed;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}

.interior{
    border: 2px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
}

.box{
    width: 150px;
    height: 150px;
    color: white;
    padding: 1rem;
}

.relativa{
    background-color: aqua;
    position: relative;
    /* top: 300px;
    left: 300px; */
}

.absoluta{
    background-color: rgb(181, 181, 238);
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.fijo{
    background-color: green;
    position: fixed;
    top: 0;
    z-index: 2;
}

.sticky{
    background-color: rgb(160, 158, 158);
    position: sticky;
    top: 0;
}