*{
    margin: 0;
    padding: 0;
}

/* Estructura */

/* Etiqueta */

/* Clase */
.blanco{
    background-color: white;
    border: 1px solid red;
    position: relative;
    width: 200px;
    height: 200px;
    top: 5px;
    left: 5px;
}

.gris{
    background-color: gray;
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 5px;
    right: 5px;
}

.oscuro{
    background-color: black;
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 5px;
    right: 5px;
}