@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{}

/* Estructura */

header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

    header a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

main{
    /* background-color: rgb(244, 244, 246); */
    width: 50%;
    justify-content: space-between;
    text-align: start;
}

/* Etiquetas */

a{
    text-decoration: none;
}

/* clases */

.contenedor{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* gap: 15px; */
}

.tarjeta{
    color: rgb(0, 0, 0);
}

.tarjeta12{
    grid-column: span 12;
}

.tarjeta6{
    grid-column: span 6;
}

.tarjeta4{
    grid-column: span 4;
}