<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formularios</h1>
    <form action="" method="post">
        <label for="">Paises</label>
        <select name="pais" id="">
            <option value="-">--Seleccione--</option>
            {% for p in paises %}
            <option value="{{p}}" {%
                if estado.get("pais") == p%} selected {%endif%}>
                {{p}}
            </option>
            {%endfort%}
        </select>
    </form>

    <br><br>
    <label for="">Géneros</label>
    {%for g in generos%}
        <input type="radio" name="genero" value="{{g}}" id="">{{g}}<br>
    {%endfort%}

    <label for="">Hobbies</label><br>
    {%for h in hobbies%}
        <input type="checkbox" name="Hobbies" value="{{h}}"
        {%if h in estado.get("hobbies", [])%} checked {%endif%}
    {%endfort%}
</body>
</html>