.blanco{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(238, 238, 238);
}

.azul{
    background-color: rgb(129, 212, 250);
}

.foto{
    padding: 1rem;
}

.centrar-texto{
    text-align: center;
}

.contenedor{
    /* box-shadow: 5px rgb(238, 238, 238); */
    margin: 5px auto;
    width: 50%;
    display: flex;
}

.icono{
    background-color: rgb(97, 159, 187);
    border-radius: 50%;
    width: auto;
    /* margin: 5px; */
}

img{
    border-radius: 50%;
}

.texto-blanco {
    color: rgb(214, 241, 253);
}