*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #D6D6CD;
}

nav{
    text-align: center;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    column-count: 3;
}

.tarjeta{
    background-color: #EDEDE9;
    border-radius: 8px;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    text-align: start;
}