*{}

/* Estructura */
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

header, footer{
color: white;
text-align: center;
height: 100px;
}

header{
    position: sticky;
    top: 0;
    font-size: 5rem;
}

main{
    width: 70%;
}

footer{
    background-color: black;
    position: sticky;
    bottom: 0;
    font-size: 3rem;
}

/* Etiquetas */
section{
    height: 100vh;
    overflow: scroll;
}

footer a{
    color: white;
    text-decoration: none;
}

/* Clases */
.red{background-color: red;}
.green{background-color: green;}
.blue{background-color: blue;}

/* Id */