@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* Estructura */
body{
    background-color: rgb(243, 244, 246);
    color: rgb(122, 112, 125);
}

header{
    background-color: rgb(243, 244, 246);
    /* color: rgb(122, 121, 125); */
    padding: 30px;
}

footer{
    background-color: rgb(204, 202, 209);
    text-align: center;
}

footer a{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px 16px;
    border-radius: 16px;
}

/* Etiquetas */
h1, h2{
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: rgb(122, 112, 125);
}

/* Clase */
.flex{
    display: flex;
    justify-content: space-between;
}

.subrayado{
    text-decoration: underline;
}

.cabecera{
    background-image: url(Imagenes/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    position: relative;
}

.bloque{
    background-color: rgb(243, 244, 246);
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 30%;
    padding: 50px 30px;
}

.izquierda{
    text-align: start;
}

.derecha{
    text-align: end;
}

.barraNavegacion{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.pie{
    padding: 60px;
}

.texto-centrado{
    text-align: center;
}

.contenedor{
    padding: 0 30px;
}