*{
    margin: 0;
    padding: 0;
}

/* Estructura */

/* Etiqueta */
section{
    padding-top: 70px;
    height: 200vh;
    background-color: blueviolet;
}

/* Clase */
.titulo{
    background-color: rgb(49, 240, 240);
}

.titulo2{
    background-color: aquamarine;
    position: absolute;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 60px;
    background-color: rgb(22, 22, 96);
    color: white;
    z-index: 100;
}

/* Avatar */
.avatar-container{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid blue;
}

.avatar-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.indicador{
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 18px;
    height: 18px;
    background-color: rgb(52, 244, 58);
    border: 3px solid white;
    border-radius: 50%;
}