*{
    font-family: Arial, Helvetica, sans-serif;/* Interdisplay, sans serif*/
}

/* Estructuras */
header{
    background-color: #FBDA5F;
}

main{
    background-color: #FFFFFF;
}

footer{
    background-color: #0E0E0E;
    color: #FFFFFF; /* El color de la parte de arriba es amarillo */
}

/* Etiquetas */
a{
    text-decoration: none;
}

/* clases */
.tarjeta{
    /* En la parte de arriba es del color #EEEEEE */
    background-color: #FFFFFF;
}

.tarjeta a{
    background-color: #FBDA5F;
    color: #000000;
}