*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

h1{
    margin-bottom: auto;
}

.tachado span{
    text-decoration: line-through;
    color: gray;
}

.lista{
    border: 1px solid blue;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}

#padre{
    margin-top: 2rem;
    list-style: none;
}

li{
    display: flex;
}

ul{
    list-style: none;
}