/* html{
    font-family: fire mono, monospace;
}

header{}

main{
    height: 80vh;
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer{}

.pie{
    height: 10vh;
    background-color: aliceblue;
}

.doble{
    flex-grow: 12;
} */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

*{
    font-family: fire mono, monospace;
    background-color: rgb(41, 42, 45);
    text-decoration: none;
    color: rgb(248, 248, 255);
}

main{
    text-align: left;
}

a{
    color: rgb(128, 170, 221);
}

.cabecera{
    background-color: rgb(37, 38, 39);
}

.contenedor{
    background-color: rgb(37, 38, 39);
    min-height: 80vh;
    width: 60%;
    margin: 3rem auto;
}

.pie{
    background-color: rgb(37, 38, 39);
    text-align: center;
}

