/* Header */
a{
    text-decoration: none;
    color: #f8f8ff;
    background-color: #252627;
}

/* Main */
body{
    color: #f8f8ff;
    background-color: #292a2d;
}

/* Footer */
a{
    text-decoration: none;
    color: #f8f8ff;
    background-color: #252627;
}