@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
/* google fonts, letra: fira mono */

*{
    font-family: fira mono, monospace
}

header{
    background-color: rgb(37, 38, 39);
    font-family: fira mono, monospace;
}

main{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    flex-direction: column;
}

footer{
    background-color: rgb(37, 38, 39);
}

/* Etiquetas */

body{
    background-color: rgb(41, 42, 45);
    color: rgb(255, 255, 255);
    font-family: open sans, sans-serif;
}

nav{
    justify-content: center;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1{
    font-family: fira mono, monospace;
}

/* Clases */

.cabecera{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.centrar{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.contenedor{
    /* background-color: aliceblue; */
}

.flotar{
    float: left;
}

/* Fuente de letra importada */

.fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-medium {
  font-family: "Fira Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.fira-mono-bold {
  font-family: "Fira Mono", monospace;
  font-weight: 700;
  font-style: normal;
}