*{}

/* Estructura */
body{
    background-color: rgb(0, 0, 0);
}

/* Etiquetas */

/* Clases */
.contenedor{
    display: flex;
    width: 50%;
}

.tarjeta{
    background-color: rgb(127, 127, 127);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.tarjeta4{
    grid-column: span 4;
}

.tarjeta8{
    grid-column: span 8;
}