*{
    padding: 0;
    margin: 0;
}

/* Estructura */
html {
    font-size: 16px;
    font-family: ;
}

/* clase */
.oscura {
    background-color: rgb(48, 47, 47);
    color: whitesmoke;
}

.flecha {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: 5px;
    bottom: 40px;
}

.flecha:hover {
    cursor: pointer;
}

.contenedor {
    width: 80%;
    max-width: 600px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.884);
}

.tabs {
    display: flex;
    background-color: rgb(84, 129, 242);
    border-radius: 8px 8px 0 0;
}

.tab {
    padding: 15px;
    flex: 1;
    text-align: center;
    background-color: rgb(72, 52, 200);
    color: whitesmoke;
    cursor: pointer;
}

.tab-content {
    padding: 20px;
    display: none;
    background-color: whitesmoke;
    color: #333;
}

.tab.active {
    background-color: rgb(red, green, blue);
}

.tab-content.active {
    display: block;
}

.oculto {
    visibility: hidden;
}

/* id */
#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background-color: aqua;
    width: 0;
    z-index: 1;
}

#gris {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background-color: rgb(175, 179, 179);
    width: 100%;
}