*{
    padding: 0;
    margin: 0;
}

/* clase */
.oscura {}

.flecha {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.flecha:hover {
    cursor: pointer;
}

.oculto {
    visibility: hidden;
}

/* id */
#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background-color: aqua;
    width: 0;
    z-index: 1;
}

#gris {
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    background-color: rgb(175, 179, 179);
    width: 100%;
}