*{
    margin: 0;
    padding: 0;
}

/* Estructura */

/* Etiqueta */

/* Clase */
.contenedor{
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 0;
}

.rojo{
    background-color: red;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}

.naranja{
    background-color: orange;
    width: 25px;
    height: 25px;
    top: 0;
    right: 0;
    position: relative;
    z-index: 1;
}

.amarillo{
    background-color: yellow;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: 0;
    position: relative;
    z-index: 1;
}

.verde{
    background-color: green;
    width: 25px;
    height: 25px;
    bottom: 0;
    right: 0;
    position: relative;
    z-index: 1;
}

.azul{
    background-color: blue;
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 1;
}