{% extends "base.html"%}
{% block title %}Página de inicio {% end block %}

{%block seccion_h1%}Primera pagina Microbit{% endblock %}

{% endblock %}
    <h2>Lorem ipsum</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi enim sapiente laudantium animi provident sint a voluptates officiis repellat, saepe cumque ipsum suscipit, architecto ex molestiae consectetur, facere optio?</p>
    <h2>Otro Lorem</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat facilis quae iste dolor commodi officiis, earum, architecto enim et in eum perspiciatis sit saepe voluptatum consectetur. Dolorum culpa totam eum?</p>
{% endblock %}