@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjeta{
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px black; /* Le da sombra al elemento */
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.tarjeta img{
    max-width: 100%;
    border-radius: 8px;
}

.tarjeta h3{
    font-size: 1.2rem;
    color: #333;
}

.tarjeta p{
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
    font-size: 1.5em;
    font-weight: bold;
}

.tarjeta button{
    padding: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s;
    font-size: 1rem;
}

.tarjeta button:hover{
    background-color: red;
}