* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background-color: beige;
}

.div2 {
    grid-area: 2 / 5 / 5 / 6;
    background-color: aqua;
}

.div3 {
    grid-area: 5 / 1 / 6 / 6;
    background-color: chartreuse;
}

.div4 {
    grid-area: 2 / 1 / 5 / 5;
    background-color: brown;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    text-align: center;
    padding-top: 1.2rem;
}

.catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {}

.foto {
    width: 150px;
}

.boton_comprar {}